@{
    ViewData["Title"] = "Welcome to service website!";
}
@if (!string.IsNullOrEmpty((string)TempData["Message"]))
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the service website!</p>
</div>
<div class="text-center">
    <a class="btn" style="border: 2px solid grey" asp-controller="User" asp-action="ToRegister">Register </a>
    <br />
    <br />
    <a class="btn" style="border: 2px solid grey" asp-controller="User" asp-action="ToLogin">Login </a>
    <br />
    <br />
    <a class="btn" style="border: 2px solid grey" asp-controller="ServiceProvided"
       asp-action="ToFindServices">Find Services</a>
</div>
